* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: black;
  color: #999;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}
h1 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-add {
  padding: 10px 20px;
  background:  rgb(45, 137, 235);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px, solid, #ddd;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex: 1;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #999;
}

.btn-delete {
  padding: 5px 10px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}